<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>ma premiere page </title>
</head>
<body>
  <h1>CEST MA PREMIERE PAGE </h1>
  <%= link_to'about', about_path %>
  <p id="p1">ca cest mon premier paragraphe que je mettrai le plus a droite 
      et qui me servira pour ma premiere page html</p>
  <p id="p2">ca cest mon deuxieme paragraphe que je mettrai le plus a droite 
    et qui me servira pour ma premiere page html</p>
</body>
</html>